In [60]:
import numpy as np
import matplotlib as plt
import seaborn as sns
import plotly.express as px
import warnings
import pandas as pd

warnings.filterwarnings('ignore')

In [61]:
df = pd.read_csv("cardekho_dataset.csv", index_col=[0])
df

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [62]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [63]:
if "car_name" in df.columns:
    df.drop("car_name", axis=1, inplace=True)

In [64]:
if "brand" in df.columns:
    df.drop("brand", axis = 1, inplace=True)

In [65]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [66]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [67]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features: ', len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype == "O" ]
print("num of Categorical Feature:", len(cat_features))
discrete_features = [feature for feature in num_features if len(df[feature].unique())<=25]
print("Number of descrete features :", len(discrete_features))
continuous_features = [feature for feature in num_features if feature not in discrete_features]
print("NUmber of continuous_features:",len(continuous_features))

Num of Numerical Features:  7
num of Categorical Feature: 4
Number of descrete features : 2
NUmber of continuous_features: 5

In [68]:
from sklearn.model_selection import train_test_split
x = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [69]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [70]:
y.head()

0    120000
1    550000
2    215000
3    226000
4    570000
Name: selling_price, dtype: int64

In [71]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['model']=le.fit_transform(x['model'])

In [72]:
x["model"]

0          7
1         54
2        118
3          7
4         38
        ...
19537    117
19540     42
19541     77
19542    114
19543     25
Name: model, Length: 15411, dtype: int64

In [73]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [74]:

num_features = x.select_dtypes(exclude="object").columns
onehot_columns = ['Seller_type', 'fuel_type', 'transmission_type']


from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transform = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [75]:
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer, cat_features),
        ("StandardScaler", numeric_transform, num_features)
        
    ],remainder='passthrough'
)
#ColumnTransformer allows you to apply the appropriate transformation to each type of feature without having to manually separate and recombine them.

In [76]:
x=preprocessor.fit_transform(x)

In [77]:
pd.DataFrame(x)

                                                       0
0      <Compressed Sparse Row sparse matrix of dtype ...
1      <Compressed Sparse Row sparse matrix of dtype ...
2      <Compressed Sparse Row sparse matrix of dtype ...
3      <Compressed Sparse Row sparse matrix of dtype ...
4      <Compressed Sparse Row sparse matrix of dtype ...
...                                                  ...
15406  <Compressed Sparse Row sparse matrix of dtype ...
15407  <Compressed Sparse Row sparse matrix of dtype ...
15408  <Compressed Sparse Row sparse matrix of dtype ...
15409  <Compressed Sparse Row sparse matrix of dtype ...
15410  <Compressed Sparse Row sparse matrix of dtype ...

[15411 rows x 1 columns]

In [78]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)
x_train.shape,x_test.shape

((11558, 133), (3853, 133))

In [79]:
! pip install xgboost

Requirement already satisfied: xgboost in ./venv/lib/python3.12/site-packages (2.1.1)
Requirement already satisfied: numpy in ./venv/lib/python3.12/site-packages (from xgboost) (2.0.1)
Requirement already satisfied: scipy in ./venv/lib/python3.12/site-packages (from xgboost) (1.14.0)

In [81]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [82]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2 = r2_score(true, predicted)
    mse = mean_squared_error(true, predicted)
    return mae,rmse,r2,mse

In [83]:
models = {
      "adaboost regressor": AdaBoostRegressor(),
    " RandomForestRegressor": RandomForestRegressor(),
    " LinearRegression" : LinearRegression(),
    "Ridge": Ridge(),
    " Lasso":  Lasso(),
    "KNeighborsRegressor" : KNeighborsRegressor(),
    "DecisionTreeRegressor" : DecisionTreeRegressor(),
  

}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)
#training set performance
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    model_train_mae, model_train_rmse, model_train_mse, model_train_r2 = evaluate_model(y_train,y_train_pred)

    model_test_mae, model_test_rmse, model_test_mse, model_test_r2= evaluate_model(y_test,y_test_pred)


    print(list(models.keys())[i])

    print("model performance for training set")
    print('Root Mean Squared Error:{:.4f}'.format(model_train_rmse))
    print("mean absolute error : {:.4f}".format(model_train_mae))
    print("r2_score : {:.4f}".format(model_train_r2))
    print("mean squared error: {:.4f}".format(model_train_mse))

  

    print("---------------------------------------------")

    print("model performance for testing set")
    print('Root Mean Squared Error:{:.4f}'.format(model_test_rmse))
    print("mean absolute error : {:.4f}".format(model_test_mae))
    print("r2_score : {:.4f}".format(model_test_r2))
    print("mean squared error: {:.4f}".format(model_test_mse))

adaboost regressor
model performance for training set
Root Mean Squared Error:425000.9864
mean absolute error : 317522.4422
r2_score : 180625838404.4172
mean squared error: 0.7760
---------------------------------------------
model performance for testing set
Root Mean Squared Error:468158.7531
mean absolute error : 338528.7922
r2_score : 219172618138.2595
mean squared error: 0.7182
 RandomForestRegressor
model performance for training set
Root Mean Squared Error:123962.5375
mean absolute error : 38613.9983
r2_score : 15366710700.1414
mean squared error: 0.9809
---------------------------------------------
model performance for testing set
Root Mean Squared Error:235830.4812
mean absolute error : 103280.4616
r2_score : 55616015875.3564
mean squared error: 0.9285
 LinearRegression
model performance for training set
Root Mean Squared Error:334556.0983
mean absolute error : 164483.7703
r2_score : 111927782908.8153
mean squared error: 0.8612
---------------------------------------------
model performance for testing set
Root Mean Squared Error:420351.1688
mean absolute error : 182974.5186
r2_score : 176695105125.9137
mean squared error: 0.7728
Ridge
model performance for training set
Root Mean Squared Error:388849.4121
mean absolute error : 185478.2211
r2_score : 151203865328.1065
mean squared error: 0.8125
---------------------------------------------
model performance for testing set
Root Mean Squared Error:439565.5968
mean absolute error : 203384.0729
r2_score : 193217913920.0338
mean squared error: 0.7516
 Lasso
model performance for training set
Root Mean Squared Error:334557.0702
mean absolute error : 164493.4277
r2_score : 111928433220.8099
mean squared error: 0.8612
---------------------------------------------
model performance for testing set
Root Mean Squared Error:423689.8772
mean absolute error : 183414.6230
r2_score : 179513112012.9977
mean squared error: 0.7692
KNeighborsRegressor
model performance for training set
Root Mean Squared Error:322172.4818
mean absolute error : 86109.2230
r2_score : 103795108032.5316
mean squared error: 0.8713
---------------------------------------------
model performance for testing set
Root Mean Squared Error:276083.9893
mean absolute error : 110891.8570
r2_score : 76222369155.3660
mean squared error: 0.9020
DecisionTreeRegressor
model performance for training set
Root Mean Squared Error:20644.8585
mean absolute error : 4991.7517
r2_score : 426210181.9807
mean squared error: 0.9995
---------------------------------------------
model performance for testing set
Root Mean Squared Error:313095.3403
mean absolute error : 127576.5183
r2_score : 98028692140.5579
mean squared error: 0.8740

In [84]:
#we can do hyperparameter tuning for best predicted model and we can re assign those params to best fit models and get better accuracy for the models

In [85]:
adaboost_reg = {
    "n_estimators" : [50,60,70,80,90],
    "learning_rate" : [1.0,1.5,2.0,2.5],
    "loss" : ['linear', 'square', 'exponential']
    
}

In [86]:
randomcv_models = [
    ("adareg", AdaBoostRegressor(), adaboost_reg)
]

In [87]:
from sklearn.model_selection import RandomizedSearchCV

adaboost_reg = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                param_distributions=params,
                                n_iter=100,
                                cv=3,
                                verbose=2,
                                n_jobs=-1)
    random.fit(x_train,y_train)
    adaboost_reg[name] = random.best_params_

for model_name in adaboost_reg:
    print(f"------------------best params for(model_name)----------------")
    print(adaboost_reg[model_name])

Fitting 3 folds for each of 60 candidates, totalling 180 fits
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=50; total time=   0.6s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=60; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=90; total time=   0.9s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=90; total time=   1.0s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=90; total time=   1.0s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=70; total time=   0.6s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=80; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=90; total time=   0.9s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=90; total time=   0.8s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=50; total time=   0.6s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=90; total time=   0.8s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=60; total time=   0.7s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=60; total time=   0.7s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=70; total time=   0.8s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=80; total time=   0.9s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=50; total time=   0.5s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=90; total time=   0.9s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=90; total time=   0.9s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=90; total time=   1.0s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=80; total time=   0.6s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=50; total time=   0.4s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=90; total time=   0.8s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=50; total time=   0.3s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=50; total time=   0.4s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=60; total time=   0.3s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=90; total time=   0.9s
[CV] END ....learning_rate=1.5, loss=linear, n_estimators=90; total time=   0.9s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=60; total time=   0.5s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=60; total time=   0.5s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=70; total time=   0.5s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=70; total time=   0.6s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=80; total time=   0.5s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=70; total time=   0.6s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=90; total time=   0.4s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=80; total time=   0.6s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=80; total time=   0.6s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=90; total time=   0.7s
[CV] END ....learning_rate=1.5, loss=square, n_estimators=90; total time=   0.6s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=70; total time=   0.6s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=50; total time=   0.2s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=50; total time=   0.5s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=90; total time=   0.9s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=50; total time=   0.5s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=90; total time=   0.9s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=60; total time=   0.6s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=70; total time=   0.3s
[CV] END learning_rate=1.5, loss=exponential, n_estimators=90; total time=   0.9s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=60; total time=   0.5s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=90; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=70; total time=   0.7s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=70; total time=   0.6s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=50; total time=   0.2s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=80; total time=   0.7s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=50; total time=   0.2s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=50; total time=   0.2s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=80; total time=   0.7s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=80; total time=   0.7s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=90; total time=   0.8s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=60; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=60; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=60; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=linear, n_estimators=90; total time=   0.9s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=70; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=70; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=70; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=80; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=80; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=80; total time=   0.3s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=90; total time=   0.5s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=90; total time=   0.4s
[CV] END ....learning_rate=2.0, loss=square, n_estimators=90; total time=   0.4s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=60; total time=   0.5s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=70; total time=   0.6s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=80; total time=   0.7s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=50; total time=   0.4s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=90; total time=   0.8s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=50; total time=   0.4s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=50; total time=   0.3s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=90; total time=   0.8s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=60; total time=   0.3s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=60; total time=   0.4s
[CV] END learning_rate=2.0, loss=exponential, n_estimators=90; total time=   0.8s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=70; total time=   0.4s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=60; total time=   0.5s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=70; total time=   0.4s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=80; total time=   0.4s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=70; total time=   0.6s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=50; total time=   0.3s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=50; total time=   0.2s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=80; total time=   0.6s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=50; total time=   0.3s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=80; total time=   0.7s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=90; total time=   0.6s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=90; total time=   0.6s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=60; total time=   0.3s
[CV] END ....learning_rate=2.5, loss=linear, n_estimators=90; total time=   0.7s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=60; total time=   0.3s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=60; total time=   0.3s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=70; total time=   0.4s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=70; total time=   0.4s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=70; total time=   0.5s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=80; total time=   0.5s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=80; total time=   0.5s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=80; total time=   0.6s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=90; total time=   0.6s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=90; total time=   0.5s
[CV] END ....learning_rate=2.5, loss=square, n_estimators=90; total time=   0.5s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=60; total time=   0.6s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=70; total time=   0.7s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=80; total time=   0.8s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=80; total time=   0.7s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=90; total time=   0.7s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=90; total time=   0.7s
[CV] END learning_rate=2.5, loss=exponential, n_estimators=90; total time=   0.7s
------------------best params for(model_name)----------------
{'n_estimators': 50, 'loss': 'exponential', 'learning_rate': 1.0}

In [ ]:
models = {
    "adaboost ": AdaBoostRegressor(n_estimators =50, loss= 'linear', learning_rate= 1.0)
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)
#training set performance
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    model_train_mae, model_train_rmse, model_train_mse, model_train_r2 = evaluate_model(y_train,y_train_pred)

    model_test_mae, model_test_rmse, model_test_mse, model_test_r2= evaluate_model(y_test,y_test_pred)


    print(list(models.keys())[i])

    print("model performance for training set")
    print('Root Mean Squared Error:{:.4f}'.format(model_train_rmse))
    print("mean absolute error : {:.4f}".format(model_train_mae))
    print("r2_score : {:.4f}".format(model_train_r2))
    print("mean squared error: {:.4f}".format(model_train_mse))

  

    print("---------------------------------------------")

    print("model performance for testing set")
    print('Root Mean Squared Error:{:.4f}'.format(model_test_rmse))
    print("mean absolute error : {:.4f}".format(model_test_mae))
    print("r2_score : {:.4f}".format(model_test_r2))
    print("mean squared error: {:.4f}".format(model_test_mse))

adaboost
model performance for training set
Root Mean Squared Error:496167.4594
mean absolute error : 416886.9434
r2_score : 246182147807.1845
mean squared error: 0.6948
---------------------------------------------
model performance for testing set
Root Mean Squared Error:565379.4254
mean absolute error : 441598.0178
r2_score : 319653894658.2681
mean squared error: 0.5890